@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-sansSerif: "DM Serif Text", sans-serif;
  --color-textcolor: #1b3552;
  --color-primary: #0f7cea;
  --color-surfaceColor: #f3f9fe;
  --color-subTextColor: #495e76;
  --color-neutralGray: #79899c;
  --color-borderColor: #e1e4e8;
  --color-redColor: #ff5a5f;
  --color-borderNeutralColor: #adb7c2;
  --color-successColor: #00c951;
}

.ratingStar .filled-icons,
.ratingStar .empty-icons {
  display: flex;
}

svg.star-svg {
  display: inline;
}

html {
  scroll-behavior: smooth;
}

.myreviews .swiper-pagination-bullet-active {
  background-color: #6e11b0;
}
